/*  */
/*  */

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(244, 234, 255);
}

h1 {
  font-size: 52px;
  color: rgb(88, 49, 196);
}

header {
  text-align: center;
  /* border: 1px solid #000; */
  padding: 32px;
}

header img {
  width: 300px;
}

main {
  background-color: rgb(122, 74, 280);
  color: #fff;
  padding: 32px;
  margin: 32px auto;
  max-width: 700px;
  border-radius: 8px;
}
